

.navbar-container {
	display: flex;
	align-items: center;
	gap: 2rem;
	justify-content: space-between;
	padding: 1rem;
}

.logo-img {
	max-width: 45px;
	max-height: 45px;
}

.logo-name {
	font-size: 36px;
	font-weight: 700;
	color: #6e47fd;
}

.navbar-left {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.navbar-right {
	display: flex;
	align-items: center;
	gap: 2rem;
	list-style: none;
}

.navbar-link {
	cursor: pointer;
}

.navbar-link:hover {
	color: #8569d4;
}
